@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant ocean (&:is(.ocean *));
@custom-variant text (&:is(.text *));

@font-face {
	font-family: 'Departure Mono';
	font-weight: 400;
	src:
		url('/fonts/DepartureMono.woff2') format('woff2'),
		url('/fonts/DepartureMono.woff') format('woff');
}

@font-face {
	font-family: 'Alpha Lyrae';
	font-weight: 400;
	src:
		url('/fonts/AlphaLyrae.woff2') format('woff2'),
		url('/fonts/AlphaLyrae.woff') format('woff');
}

body {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

:root {
	font-size: 110%;
	font-weight: 300;
	user-select: none;
	--radius: 0.5rem;

	--txt_mono: 'Fira Code', monospace;
	--term_sans: 'JetBrains Mono', monospace;
	--term_mono: 'Departure Mono', monospace;
	--t_styled: 'Alpha Lyrae', monospace;
	--sans: 'Geist', sans-serif;
	--serif: 'Lora', serif;
	--mono: 'Geist Mono', monospace;

	--background: hsl(218 0% 90%);
	--foreground: hsl(218 0% 0%);
	--card: hsl(218 0% 90%);
	--card-foreground: hsl(218 0% 10%);
	--popover: hsl(218 0% 90%);
	--popover-foreground: hsl(218 95% 0%);
	--primary: hsl(218 93.5% 42%);
	--primary-foreground: hsl(0 0% 100%);
	--secondary: hsl(218 10% 70%);
	--secondary-foreground: hsl(0 0% 0%);
	--muted: hsl(180 10% 85%);
	--muted-foreground: hsl(218 0% 35%);
	--accent: hsl(180 10% 85%);
	--accent-foreground: hsl(218 0% 10%);
	--destructive: hsl(0 50% 30%);
	--destructive-foreground: hsl(218 0% 90%);
	--border: hsl(218 20% 50%);
	--input: hsl(218 20% 18%);
	--ring: hsl(218 93.5% 42%);
}

.ocean {
	--radius: 0rem !important;

	--background: hsl(229 27% 8%);
	--foreground: hsl(232 42% 89%);
	--muted: hsl(229 12% 15%);
	--muted-foreground: hsl(229 12% 55%);
	--popover: hsl(229 27% 5%);
	--popover-foreground: hsl(232 28% 89%);
	--card: hsl(229 27% 6%);
	--card-foreground: hsl(232 28% 84%);
	--border: hsl(229 17% 23%);
	--input: hsl(229 17% 26%);
	--primary: hsl(174 42% 65%);
	--primary-foreground: hsl(174 42% 5%);
	--secondary: hsl(174 30% 25%);
	--secondary-foreground: hsl(174 30% 85%);
	--accent: hsl(229 27% 23%);
	--accent-foreground: hsl(229 27% 83%);
	--destructive: hsl(5 88% 59%);
	--destructive-foreground: hsl(0 0% 100%);
	--ring: hsl(174 42% 65%);

	a {
		color: var(--primary);
		text-decoration: underline;
		text-decoration-thickness: 0.1rem;
	}

	a:hover {
		text-decoration: none;
	}
}

.text {
	--radius: 0rem !important;

	--background: hsl(0 0% 100%);
	--foreground: hsl(0 0% 3.9%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(0 0% 3.9%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(0 0% 3.9%);
	--primary: hsl(0 0% 9%);
	--primary-foreground: hsl(0 0% 98%);
	--secondary: hsl(0 0% 96.1%);
	--secondary-foreground: hsl(0 0% 9%);
	--muted: hsl(0 0% 96.1%);
	--muted-foreground: hsl(0 0% 45.1%);
	--accent: hsl(0 0% 96.1%);
	--accent-foreground: hsl(0 0% 9%);
	--destructive: hsl(0 72.22% 50.59%);
	--destructive-foreground: hsl(0 0% 98%);
	--border: hsl(0 0% 3.9%);
	--input: hsl(0 0% 89.8%);
	--ring: hsl(0 0% 3.9%);
}

@theme inline {
	--font-txt_mono: var(--txt_mono);
	--font-term_sans: var(--term_sans);
	--font-term_mono: var(--term_mono);
	--font-t_styled: var(--t_styled);
	--font-sans: var(--sans);
	--font-serif: var(--serif);
	--font-mono: var(--mono);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@media (max-width: 768px) {
	:root {
		font-size: 100%;
	}
}

.custom-scroll {
	&::-webkit-scrollbar {
		background-color: transparent;
		width: 0.75rem;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: hsl(var(--primary) / 1);
		border: 0.15rem solid transparent;
		background-clip: content-box;
		transition: all 0.3s ease-out;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: hsl(var(--primary) / 1);
	}
}

@keyframes snap-in {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
		height: auto;
	}
	100% {
		opacity: 1;
		height: auto;
	}
}

@keyframes vertical-wipe-in {
	0% {
		clip-path: inset(0 0 100% 0);
	}
	100% {
		clip-path: inset(0 0 0 0);
	}
}
@keyframes vertical-wipe-out {
	0% {
		clip-path: inset(0 0 0 0);
	}
	100% {
		clip-path: inset(100% 0 0 0);
	}
}

.hide-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}
