@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-size: 110%;
		--radius: 0.5rem;

		--background: 229 27% 8%;
		--foreground: 232 42% 89%;
		--muted: 229 12% 15%;
		--muted-foreground: 229 12% 55%;
		--popover: 229 27% 5%;
		--popover-foreground: 232 28% 89%;
		--card: 229 27% 6%;
		--card-foreground: 232 28% 84%;
		--border: 229 17% 23%;
		--input: 229 17% 26%;
		--primary: 174 42% 65%;
		--primary-foreground: 174 42% 5%;
		--secondary: 174 30% 25%;
		--secondary-foreground: 174 30% 85%;
		--accent: 229 27% 23%;
		--accent-foreground: 229 27% 83%;
		--destructive: 5 88% 59%;
		--destructive-foreground: 0 0% 100%;
		--ring: 174 42% 65%;
	}

	@media (max-width: 768px) {
		:root {
			font-size: 100%;
		}
	}

	.gruvbox {
		--background: 195 6% 12%;
		--foreground: 43 59% 81%;
		--muted: 195 12% 16%;
		--muted-foreground: 195 12% 66%;
		--popover: 195 6% 9%;
		--popover-foreground: 43 59% 91%;
		--card: 195 6% 10%;
		--card-foreground: 43 59% 86%;
		--border: 0 0% 32%;
		--input: 0 0% 25%;
		--primary: 43 59% 81%;
		--primary-foreground: 43 59% 21%;
		--secondary: 43 30% 25%;
		--secondary-foreground: 43 30% 85%;
		--accent: 195 6% 27%;
		--accent-foreground: 195 6% 87%;
		--destructive: 4 84% 56%;
		--destructive-foreground: 0 0% 100%;
		--ring: 43 59% 81%;
	}

	.catppuccin {
		--background: 240 21% 15%;
		--foreground: 226 64% 88%;
		--muted: 237 16.24% 23%;
		--muted-foreground: 227 35.3% 80%;
		--popover: 240 21% 15%;
		--popover-foreground: 226 64% 88%;
		--card: 240 21% 15%;
		--card-foreground: 226 64% 88%;
		--border: 234 13.2% 31.2%;
		--input: 234 13.2% 31.2%;
		--primary: 10 55.6% 91.2%;
		--primary-foreground: 240 21% 15%;
		--secondary: 237 16.24% 23%;
		--secondary-foreground: 226 64% 88%;
		--accent: 237 16.24% 23%;
		--accent-foreground: 226 64% 88%;
		--destructive: 343 81.25% 75%;
		--destructive-foreground: 240 21.3% 12%;
		--ring: 226 64% 88%;
	}

	a {
		color: hsl(var(--primary));
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	/* @-moz-document url-prefix() {
		* {
			scrollbar-width: thin;
			scrollbar-color: hsl(var(--primary) / 1);
		}
	} */

	.custom-scroll {
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 0.75rem;
		}
	
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
	
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: hsl(var(--primary) / 1);
			border: 0.15rem solid transparent;
			background-clip: content-box;
			transition: all 0.3s ease-out;
		}
	
		&::-webkit-scrollbar-thumb:hover {
			background-color: hsl(var(--primary) / 1);
		}
	}

	@keyframes snap-in {
		0% {
			opacity: 0;
		}
		99% {
			opacity: 0;
			height: auto;
		}
		100% {
			opacity: 1;
			height: auto;
		}
	}

	@keyframes vertical-wipe-in {
		0% {
			clip-path: inset(0 0 100% 0);
		}
		100% {
			clip-path: inset(0 0 0 0);
		}
	}
	@keyframes vertical-wipe-out {
		0% {
			clip-path: inset(0 0 0 0);
		}
		100% {
			clip-path: inset(100% 0 0 0);
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
